
@{
    ViewBag.Title = "Yo";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yo</h2>

<p>There is no Index view and when invoking the Yo action out of the HelloWorldController, the resolved view is the one that corresponds to the name of the action.</p>