
@{
    ViewBag.Title = "Yo My Man";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>YoMyMan</h2>

<p>This is sample invokation of the ToMan action out of the HelloWorldController which is used to invoke the ToMyMan view -> this is not relying on the default naming convention that the view will be named as the action</p>

